@{
    var isAdmin = Request.IsAuthenticated && User.IsInRole("Admin");
}
@model List<Quotes.Models.AnnouncementModel>

@foreach (var ann in Model)
{
    if (!isAdmin && ann.Status != "Published") //Not displaying Announcements that are not published for non-admin users
    {
        continue;
    }
    <div class="panel panel-default @(ann.Status == "Published" ? "panel-primary" : ann.Status == "Backlog"?"panel-info":"panel-warning")" style="border-color: black">
        <div class="panel-heading" style="background-image:url('/Content/img/leather.png')">
            <h3 name="@ann.Id" id="head-title@(ann.Id)" class="panel-title col-lg-12" style="font-weight: bold;color: white">@ann.Title</h3>
            <input name="title@(ann.Id)" class="col-lg-12" id="input-title@(ann.Id)" type="text" maxlength="256" style="color: black;display: none" />
            @if (isAdmin)
            {
                <button id="title@(ann.Id)-edit" type="button" class="btn-edit" onclick="editTitle('title@(ann.Id)')"><span class="glyphicon glyphicon-pencil"></span></button>
                <button id="title@(ann.Id)-close" type="button" class="btn-edit" onclick="closeTitle('title@(ann.Id)')" style="display: none"><span class="glyphicon glyphicon-remove"></span></button>
                <button id="title@(ann.Id)-save" type="button" class="btn-edit" onclick="saveTitle('title@(ann.Id)')" style="display: none"><span class="glyphicon glyphicon-ok"></span></button>
            }
        </div>
        <div class="panel-body" style="background-image:url('/Content/img/paper.jpg')">
            <form>
                <div name="@ann.Id" id="announce@(ann.Id)" rows="12" cols="80">
                    @Html.Raw(ann.RawHtml)
                </div>
            </form>
            @if (isAdmin)
            {
                <button id="announce@(ann.Id)-cksave" type="button" class="btn btn-default pull-right" onclick="saveBody('announce@(ann.Id)')" style=" display: none">Save</button>
                <button id="announce@(ann.Id)-ckopen" type="button" class="btn btn-default pull-right" onclick="initEditor('announce@(ann.Id)')">Edit</button>
                <button id="announce@(ann.Id)-ckclose" type="button" class="btn btn-default pull-right" onclick="closeEditor('announce@(ann.Id)')" style="display: none">Cancel</button>
            }
        </div>
        <div class="panel-footer">
            Author : @ann.Author - @ann.CreationTime
            @if (isAdmin)
            {
                 @Html.DropDownList("status" + ann.Id, ann.StatusList.Select(x => new SelectListItem() { Value = x, Text = x, Selected = (x == ann.Status) }))
                <button type="button" class="btn btn-default" onclick="saveStatus(@(ann.Id))">Submit</button>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalConfirm" data-ann-id="@(ann.Id)">Delete</button>

            }
        </div>
    </div>
}

<div id="modalConfirm" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button> 
                <h4 class="modal-title text-center" id="mySmallModalLabel">Please Confirm</h4> 
            </div>
            <div class="modal-body">
                <div class="text-center">
                    The announcement will be removed forever.
                </div>
                <br>
                <div class="text-center">
                    <button id="deleteAnn" type="button" class="btn btn-default" data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
                
                  
            </div>
        </div>
    </div>
</div>


@if (isAdmin)
{

    <script>

        // instance, using default configuration.
        function initEditor(id) {
            if (CKEDITOR.instances[id])
                CKEDITOR.remove(CKEDITOR.instances[id]);
            CKEDITOR.replace(id);
            $("#" + id + "-ckopen").hide();
            $("#" + id + "-ckclose").show();
            $("#" + id + "-cksave").show();
        }

        // Close ck editor dialog
        function closeEditor(id) {
            $("#cke_" + id).remove();
            $("#" + id).show();
            $("#" + id).removeAttr('style');

            $("#" + id + "-cksave").hide();
            $("#" + id + "-ckclose").hide();
            $("#" + id + "-ckopen").show();
        }

        // Save announcement in database and update UI
        function saveBody(id) {

            CKEDITOR.instances[id].updateElement();
            var htmlString = escape($("#" + id).html());
            $.post("Announcement/Update", { Id: $("#" + id).attr('name'), RawHtml: htmlString }, function (data) {
                if (data.success) {
                    
                    closeEditor(id);
                } else {
                    $("#errorMessage").text("There was an error saving announcement Body:" + data.message);
                    $("#errorBox").show();
                }
            }, "json");
        }

        function editTitle(id) {
            $("#input-" + id).val($("#head-" + id).text());
            $("#" + id + "-edit").hide();
            $("#head-" + id).hide();
            $("#" + id + "-close").show();
            $("#" + id + "-save").show();
            $("#input-" + id).show();

        }

        function closeTitle(id) {
            $("#input-" + id).hide();
            $("#" + id + "-save").hide();
            $("#" + id + "-close").hide();
            $("#" + id + "-edit").show();
            $("#head-" + id).show();
        }

        function saveTitle(id) {
            $("#head-" + id).text($("#input-" + id).val());
            $("#input-" + id).hide();
            $("#" + id + "-save").hide();
            $("#" + id + "-close").hide();
            $("#" + id + "-edit").show();
            $("#head-" + id).show();

            $.post("Announcement/Update", { Id: $("#head-" + id).attr('name'), Title: $("#head-" + id).text() }, function (data) {
                if (data.success) {
                    $("#successMessage").text("Announcement Title Updated succesfully.");
                    $("#successBox").show();
                } else {
                    $("#errorMessage").text("There was an error saving announcement Title :" + data.message);
                    $("#errorBox").show();
                }
            }, "json");
        }

        function saveStatus(id) {
            postAnnouncement({ Id: $("#announce" + id).attr('name'), Status: $("#status" + id).val() }, "Status");
        }

        function deleteAnn(id) {
            $.post("Announcement/Delete",{Id:id},function(data) {
                if (data.success) {
                    location.reload();
                } else {
                    $("#errorMessage").text("There was an error deleting the announcement :" + data.message);
                    $("#errorBox").show();
                }
            });
        }

        function postAnnouncement(object,partName) {
            $.post("Announcement/Update", object, function (data) {
                if (data.success) {
                    $("#successMessage").text("Announcement " + partName + " Updated succesfully.");
                    $("#successBox").show();
                    setTimeout(function () {
                        $('#successBox').fadeOut('fast');
                    }, 3000);
                } else {
                    $("#errorMessage").text("There was an error saving announcement " + partName + " :" + data.message);
                    $("#errorBox").show();
                }
            }, "json");
        }

        $('#modalConfirm').on('show.bs.modal', function (e) {
            //get data-id attribute of the clicked element
            var annId = $(e.relatedTarget).data('ann-id');
            $("#deleteAnn").click(function (event) {
                event.preventDefault();
                deleteAnn(annId);
            });

        });

    </script>
}